HTTP to PostgreSQL/HTTP_to_PostgreSQL.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>1f2c98fd-016a-1000-6ea6-64d34129d170</groupId>
    <name>HTTP to PostgreSQL</name>
    <snippet>
        <processGroups>
            <id>2feae930-1919-3b3b-0000-000000000000</id>
            <parentGroupId>5ec22fd0-fa07-3774-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>Get Data using REST API and Persist it to PostgreSQL</comments>
            <contents>
                <connections>
                    <id>eb341d85-0912-3ac9-0000-000000000000</id>
                    <parentGroupId>2feae930-1919-3b3b-0000-000000000000</parentGroupId>
                    <versionedComponentId>38b39c6b-8d27-3988-8b35-1e3b2b527148</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
                        <id>6506dfc4-820a-39b8-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>980900b0-227c-37d6-9065-986c78746605</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>12dc11c6-87a6-3c99-0000-000000000000</groupId>
                        <id>d4030711-da97-3c8f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8d47eedb-b9ab-39fe-8284-cc0ef16996d6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>12dc11c6-87a6-3c99-0000-000000000000</id>
                    <parentGroupId>2feae930-1919-3b3b-0000-000000000000</parentGroupId>
                    <position>
                        <x>255.17222481525738</x>
                        <y>181.7190306892055</y>
                    </position>
                    <versionedComponentId>b15fbdee-b9ae-32c3-a3ad-a2591dbb5b6c</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>8d88b697-b16b-37a0-0000-000000000000</id>
                            <parentGroupId>12dc11c6-87a6-3c99-0000-000000000000</parentGroupId>
                            <versionedComponentId>f2f3a61d-af74-38c8-8c63-4c3aa19dfaa7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>12dc11c6-87a6-3c99-0000-000000000000</groupId>
<id>d4030711-da97-3c8f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>8d47eedb-b9ab-39fe-8284-cc0ef16996d6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>12dc11c6-87a6-3c99-0000-000000000000</groupId>
<id>91070b48-d4c3-359e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>590a5dfd-767b-3bd0-a31f-59cabf5e59dd</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>d4030711-da97-3c8f-0000-000000000000</id>
                            <parentGroupId>12dc11c6-87a6-3c99-0000-000000000000</parentGroupId>
                            <position>
<x>529.8316234871799</x>
<y>298.563875548776</y>
                            </position>
                            <versionedComponentId>8d47eedb-b9ab-39fe-8284-cc0ef16996d6</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Output Data</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>91070b48-d4c3-359e-0000-000000000000</id>
                            <parentGroupId>12dc11c6-87a6-3c99-0000-000000000000</parentGroupId>
                            <position>
<x>472.48831939697266</x>
<y>80.97334289550781</y>
                            </position>
                            <versionedComponentId>590a5dfd-767b-3bd0-a31f-59cabf5e59dd</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>URL</key>
        <value>
            <name>URL</name>
        </value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>
            <name>Filename</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>User Agent</key>
        <value>
            <name>User Agent</name>
        </value>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
        <value>
            <name>Accept Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>
            <name>redirect-cookie-policy</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>URL</key>
        <value>${node_url}</value>
    </entry>
    <entry>
        <key>Filename</key>
        <value>${node_filename}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>User Agent</key>
    </entry>
    <entry>
        <key>Accept Content-Type</key>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>false</value>
    </entry>
    <entry>
        <key>redirect-cookie-policy</key>
        <value>default</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Get HTTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetHTTP</type>
                        </processors>
                    </contents>
                    <name>Get Data</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>5c04ae60-ea16-3425-0000-000000000000</id>
                    <parentGroupId>2feae930-1919-3b3b-0000-000000000000</parentGroupId>
                    <position>
                        <x>904.819976137518</x>
                        <y>178.94880008107606</y>
                    </position>
                    <versionedComponentId>f44eb15a-2741-3855-a00c-8c579efb3318</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2339f19c-3dc3-38b2-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <versionedComponentId>d6e41ea2-673c-3532-a873-859985ccd7b3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>8d5ef8fb-d793-3002-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c441900d-dd87-397a-8fc6-171ccd80b532</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>d76ed224-e4f1-379c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db15c625-2f43-3d51-b342-8d3d9db3af02</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3e068a20-53dd-3cda-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <versionedComponentId>2457ad9a-3a18-3ab5-9953-430facfbe720</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>dacca949-1746-3be3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>50dd3fb1-1ba8-347a-9c13-623d0bf4ff21</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>d76ed224-e4f1-379c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db15c625-2f43-3d51-b342-8d3d9db3af02</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4ffb6e6c-9fe2-3f74-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <versionedComponentId>8ac73a84-5f40-35cd-8a86-57d20f7066bf</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>bbfad39a-ee45-33af-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fdc6a181-89be-3c0f-8b3e-9c88b35d98d2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>6506dfc4-820a-39b8-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>980900b0-227c-37d6-9065-986c78746605</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>70cbfc76-7e4f-361a-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <versionedComponentId>4b4c88fb-b3ff-31d6-a062-4b417cb8dfe4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>6cffed91-a3ef-3133-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>720c5bb5-d289-3924-a9cb-daf722b9a8cf</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>bbfad39a-ee45-33af-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fdc6a181-89be-3c0f-8b3e-9c88b35d98d2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>74600076-dab0-3787-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <versionedComponentId>4d639ff6-f11f-340e-b2b1-321fec30cebc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>949.8363150220639</x>
<y>551.4734835023423</y>
                            </bends>
                            <bends>
<x>949.8363150220639</x>
<y>601.4734835023423</y>
                            </bends>
                            <destination>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>d76ed224-e4f1-379c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db15c625-2f43-3d51-b342-8d3d9db3af02</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>d76ed224-e4f1-379c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db15c625-2f43-3d51-b342-8d3d9db3af02</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b38d5105-caf1-3372-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <versionedComponentId>db8300cb-090b-377d-8ea9-9b1d35f351e4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>d76ed224-e4f1-379c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>db15c625-2f43-3d51-b342-8d3d9db3af02</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>5c04ae60-ea16-3425-0000-000000000000</groupId>
<id>6cffed91-a3ef-3133-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>720c5bb5-d289-3924-a9cb-daf722b9a8cf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>834021b9-a55e-3525-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <versionedComponentId>fafe1821-fe21-34aa-a7a5-b632b2811333</versionedComponentId>
                            <bundle>
<artifact>nifi-dbcp-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Database Connection URL</key>
    <value>
        <name>Database Connection URL</name>
    </value>
</entry>
<entry>
    <key>Database Driver Class Name</key>
    <value>
        <name>Database Driver Class Name</name>
    </value>
</entry>
<entry>
    <key>database-driver-locations</key>
    <value>
        <name>database-driver-locations</name>
    </value>
</entry>
<entry>
    <key>Database User</key>
    <value>
        <name>Database User</name>
    </value>
</entry>
<entry>
    <key>Password</key>
    <value>
        <name>Password</name>
    </value>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>
        <name>Max Wait Time</name>
    </value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>
        <name>Max Total Connections</name>
    </value>
</entry>
<entry>
    <key>Validation-query</key>
    <value>
        <name>Validation-query</name>
    </value>
</entry>
                            </descriptors>
                            <name>DBCPConnectionPool (PostgreSQL)</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Database Connection URL</key>
    <value>${postgresuri}</value>
</entry>
<entry>
    <key>Database Driver Class Name</key>
    <value>${postgresdriverclassname}</value>
</entry>
<entry>
    <key>database-driver-locations</key>
    <value>${postgresdriverpath}</value>
</entry>
<entry>
    <key>Database User</key>
    <value>${postgresusername}</value>
</entry>
<entry>
    <key>Password</key>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>500 millis</value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>8</value>
</entry>
<entry>
    <key>Validation-query</key>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                        </controllerServices>
                        <inputPorts>
                            <id>6506dfc4-820a-39b8-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <position>
<x>542.7694701333205</x>
<y>-130.72589611737095</y>
                            </position>
                            <versionedComponentId>980900b0-227c-37d6-9065-986c78746605</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input Data</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>6cffed91-a3ef-3133-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <position>
<x>488.93664544483124</x>
<y>252.6235352130662</y>
                            </position>
                            <versionedComponentId>720c5bb5-d289-3924-a9cb-daf722b9a8cf</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>834021b9-a55e-3525-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>users</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
    </entry>
    <entry>
        <key>Schema Name</key>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>8d5ef8fb-d793-3002-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <position>
<x>243.58491588398027</x>
<y>743.9481767808065</y>
                            </position>
                            <versionedComponentId>c441900d-dd87-397a-8fc6-171ccd80b532</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
        <value>Success</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Log Success Message</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                        <processors>
                            <id>bbfad39a-ee45-33af-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <position>
<x>488.6511053516758</x>
<y>19.71216415321925</y>
                            </position>
                            <versionedComponentId>fdc6a181-89be-3c0f-8b3e-9c88b35d98d2</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JsonPath Expression</key>
        <value>
            <name>JsonPath Expression</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JsonPath Expression</key>
        <value>$.*</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitJson</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitJson</type>
                        </processors>
                        <processors>
                            <id>d76ed224-e4f1-379c-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <position>
<x>486.8363150220639</x>
<y>511.47348350234233</y>
                            </position>
                            <versionedComponentId>db15c625-2f43-3d51-b342-8d3d9db3af02</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>834021b9-a55e-3525-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Put Data to PostgreSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>dacca949-1746-3be3-0000-000000000000</id>
                            <parentGroupId>5c04ae60-ea16-3425-0000-000000000000</parentGroupId>
                            <position>
<x>767.8022315578085</x>
<y>743.4923051987753</y>
                            </position>
                            <versionedComponentId>50dd3fb1-1ba8-347a-9c13-623d0bf4ff21</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>log-level</key>
        <value>
            <name>log-level</name>
        </value>
    </entry>
    <entry>
        <key>log-prefix</key>
        <value>
            <name>log-prefix</name>
        </value>
    </entry>
    <entry>
        <key>log-message</key>
        <value>
            <name>log-message</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>log-level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>log-prefix</key>
    </entry>
    <entry>
        <key>log-message</key>
        <value>Failure</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Log Failure Message</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogMessage</type>
                        </processors>
                    </contents>
                    <name>Put to PostgreSQL</name>
                    <variables/>
                </processGroups>
            </contents>
            <name>HTTP to PostgreSQL</name>
            <variables>
                <entry>
                    <key>node_filename</key>
                    <value>users.json</value>
                </entry>
                <entry>
                    <key>node_url</key>
                    <value>http://127.0.0.1:3000/users</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>04/17/2019 09:19:45 IST</timestamp>
</template>
